<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application submitted</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

     <div class="container">
        <h1 class="text-center mt-2 mb-4">Ash Careers</h1>
        <h4>The application for role of <b>{{job.title}}</b> at Ash Career has been submitted</h4>

        <b>Full Name</b>
        <div class="mb-2">{{application['full_name']}}</div>

        <b>Email</b>
        <div class="mb-2">{{application['email']}}</div>

        <b>LinkedIn URL</b>
        <div class="mb-2">{{application['linkedin_url']}}</div>

        <b>Work Experience</b>
        <div class="mb-2">{{application['work_experience']}}</div>

        <b>Education</b>
        <div class="mb-2">{{application['education']}}</div>

        <b>Resume URL</b>
        <div class="mb-2">{{application['resume_url']}}</div>
     </div>
{% include 'footer.html' %}

</body>
</html>