<footer class="bg-dark text-light mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6">
                <h5>Ash</h5>
                <p class="small mb-0">
                    &copy; {{ year }} All rights reserved.
                </p>
            </div>

            <div class="col-md-6 text-md-end">
                <a href="#" class="text-light text-decoration-none me-3">Privacy</a>
                <a href="#" class="text-light text-decoration-none">Terms</a>
            </div>
        </div>
    </div>
</footer>
